Rules to upload a project in UVCE Marvels GitHub page

-Go to your Batch Repositary
-Then select the folder of the domain to which the project belongs to
-Create a folder with your name and project's name
-Create a readme file with important details like Name,UID,Project deatails,Reference
