Rules to upload a project in UVCE Marvels GitHub page

-Go to your Batch Repositary
-Then select the folder of the domain to which the project belongs to
-Create a folder with your name and project's name
-Create a readme file with important details like Name,UID,Project deatails,Reference
-give proper references to the topic so it can be studied by upcoming batches 
-Give a space where peer reviews and assessment can be made
-Create a folder for the project and upload all the necessary documents and codes there
-Upload the codes with a proper syntax and indentation,add comments where necesscary
-See the reference 
